.dart_tool/
build/
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

*.zip
*.bak
*.bak_*
*.save
*.tmp
*.log

analyze_*.txt
diag_*.txt
helper_*.txt
radio_*.txt
ricerca_*.txt
tracce_*.txt
v04-*.txt
main_v*.txt

archive/
